.about {
  color: white;
  background-color: var(--card-color);
  border-radius: 5px;
}

.aboutIcon {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 10vh;
}

.aboutDesc {
  padding: 3vh;
}

.aboutDesc > h5 {
  margin: 0;
  color: var(--secondary-color);
}

.aboutDesc > p {
  margin: 0;
}
