* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Scrollbar */
/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #333; 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: hsl(204, 86%, 53%, 1); 
}
/* Scrollbar END */

/* NAV */
.navbar {
  background-color: #333;
}

.navbar-item {
  color: white;
}

/* NAV END*/


/* Hero */
.hero {
  position: relative;
  text-align: center;
  background-color: #333;
}

.hero-body {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.title {
  font-size: 2vw;
  color: white;
}

.subtitle {
  font-size: 1.2vw;
  color: rgba(255, 255, 255, 0.5);
}
/* Hero END */

/* About Me */
.aboutIcon {
  display: inline-block;
  width: 100%;
  text-align: center;
  margin-top: 100px;
  font-size: 10em;
}
/* About Me END */

/* Footer */
.footer {
  color: rgba(255, 255, 255, 0.5);
}

.footerBtn,a{
  text-align: left;
  color: rgba(255, 255, 255, 0.5);
}

.footerBtn,a:hover {
  color: hsl(204, 86%, 53%, 0.5);
} 

.footerSocial {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  justify-content: end;
  padding: 12px 0;
  margin-right: 200px;
}

.footerSocial,a {
  padding-left: 12px; 
  color: rgba(255, 255, 255, 0.5);
}

.footerSocial,a:hover {
  color: hsl(204, 86%, 53%, 0.5);
}

.footerNav {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  padding-left: 0;
  margin-left: 200px;
  border-top: 2px solid rgba(255, 255, 255, 0.5);
}

.footerCopy {
  padding-right: 0;
  margin-right: 200px;
  text-align: right;
  border-top: 2px solid rgba(255, 255, 255, 0.5);
}
/* Footer END */

/* Work */
.work-arrows {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.card1Desc {
  height: 100px;
  overflow-y: auto;
  max-height: 100px;
}
.card2Desc {
  height: 100px;
  overflow-y: auto;
  max-height: 100px;
}
.card3Desc {
  height: 100px;
  overflow-y: auto;
  max-height: 100px;
}
/* Work END*/

/* Contact Info */
.fa-linkedin-in {
  float: right;
  align-content: center;
}

.linkedInLink {
  border: 3px rgb(32, 156, 238) solid;
}
/* Contact Info END*/

/* Utilities */
.header-text {
  font-size: 20px;
}
/* Utilities END */

/* Lightbox2 */
.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}