* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --main-color: #12171d;
  --main2-color: #151b22;
  --card-color: #232a33;
  --secondary-color: #008ae6;
  --secondary-color-transparent: rgba(0, 138, 230, 0.5);
}

/* Scrollbar */
/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--main-color);
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--secondary-color);
}
/* Scrollbar END */

/* NAV */
#portfolioNav:hover,
#aboutNav:hover,
#homeNav:hover,
#workNav:hover,
#contactNav:hover {
  color: var(--secondary-color-transparent);
}

.navbar {
  background-color: var(--main-color);
}

.navbar-item {
  color: white;
}
/* NAV END*/

/* Hero */
.hero {
  position: relative;
  text-align: center;
  background-color: var(--main-color);
}

.hero-body {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.title {
  font-size: 2vw;
  color: white;
}

.subtitle {
  font-size: 1.2vw;
  color: rgba(255, 255, 255, 0.5);
}
/* Hero END */

/* About Me */
.aboutIcon {
  display: inline-block;
  width: 100%;
  text-align: center;
  margin-top: 100px;
  font-size: 10em;
}

#about {
  background-color: var(--main2-color);
}
/* About Me END */

/* Work */
#work {
  background-color: var(--main-color);
}
/* Work END */

/* Contact Info */
#contactInfo {
  background-color: var(--main2-color);
}
/* Contact Info END */

/* Footer */
.footer {
  color: rgba(255, 255, 255, 0.5);
}

.footerBtn,
a {
  text-align: left;
  color: rgba(255, 255, 255, 0.5);
}

.footerBtn,
a:hover {
  color: var(--secondary-color-transparent);
}

.footerSocial {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  justify-content: end;
  padding: 12px 0;
  margin-right: 200px;
}

.footerSocial,
a {
  padding-left: 12px;
  color: rgba(255, 255, 255, 0.5);
}

.footerSocial,
a:hover {
  color: var(--secondary-color-transparent);
}

.footerNav {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  padding-left: 0;
  margin-left: 200px;
  border-top: 2px solid rgba(255, 255, 255, 0.5);
}

.footerCopy {
  padding-right: 0;
  margin-right: 200px;
  text-align: right;
  border-top: 2px solid rgba(255, 255, 255, 0.5);
}
/* Footer END */

/* Work */
.work-arrows {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.card1Desc {
  height: 100px;
  overflow-y: auto;
  max-height: 100px;
}
.card2Desc {
  height: 100px;
  overflow-y: auto;
  max-height: 100px;
}
.card3Desc {
  height: 100px;
  overflow-y: auto;
  max-height: 100px;
}

.card1Img,
.card2Img,
.card3Img
 {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  border-radius: 5px;
}
/* Work END*/

/* Contact Info */
.border {
  border: 3px var(--secondary-color) solid;
}

.contact-info{
  color: white;
}

.contact-info:hover {
  color: white;
}
/* Contact Info END*/

/* Utilities */
.header-text {
  font-size: 20px;
}

.dark-text {
  color: var(--main-color);
}

.main-background {
  background-color: var(--main-color);
}

.text-color {
  color: var(--secondary-color);
}

.card-background {
  background-color: var(--card-color);
}

#workCard1,
#workCard2,
#workCard3 {
  border-bottom: 3px solid transparent;
  background-color: var(--card-color);
  color: white;
}

#workCard1:hover,
#workCard2:hover,
#workCard3:hover {
  border-bottom: 3px solid var(--secondary-color);
}
/* Utilities END */

/* Lightbox2 */
.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}
