:root {
  --main-color: #12171d;
  --main2-color: #151b22;
  --card-color: #232a33;
  --secondary-color: #008ae6;
  --secondary-color-transparent: rgba(0, 138, 230, 0.5);
}

html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: var(--main-color)!important;
}

::-webkit-scrollbar {
  background-color: transparent;
  width: 10px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.388);
}

.justify-content-end {
  justify-content: end;
}